<center>
    <p>
    <img src="http://i48.tinypic.com/2zgyn8g.png" height="250" width="900"><br>
  </p><br>
  <div class="hero-unit">
  <h1>Track Your Unlocked Specials</h1><br>
  <p>And see which ones you're missing out on...</p><br>
  <p>
      <img src="https://playfoursquare.s3.amazonaws.com/press/logo/connect-blue.png" height="100" width="200"> to begin
  </p>
</div>
<p>
  <img src="http://i48.tinypic.com/6t00ah.png" height="100" width="200">
</p>
</center>
